<!DOCTYPE html>
<html>
  <head>
    <title>loginApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>welcome to home page</h1>
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
  </body>
</html>
